<h1>reader</h1>

<form class="form-horizontal" novalidate>
  <label>Refresh (seconds)</label>
  <input class="input-small" ng-model="refreshInterval" type="number"></p>
</form>

<h2>All Stories</h2>

<ul>
  <li ng-repeat="item in stories">
    <a href="{{item.link.href}}">{{item.title}}</a>1
  </li>
</ul>

<div>
  <form class="form-horizontal" name="newFeed">
    <legend>Add Another Feed</legend>
    <div class="input-append">
      <input class="input-xxlarge" name="url" ng-model="newFeed.url" type="url" required>
      <button class="btn" ng-disabled="!newFeed.$valid" ng-click="addFeed(newFeed)">
        Add Feed
      </button>
    </div>
    <span class="help-inline text-error" ng-show="newFeed.$error.url">
      <span class="text-error">Invalid URL format!</span>
    </span>
    <span class="help-inline" ng-show="newFeed.$error.required">
      <span class="text-error">Required!</span>
    </span>
  </form>
  <hr>
</div>

<div ng-repeat="feed in feeds">
  <ul>
    <li ng-repeat="item in feed.items">
      <a href="{{item.link.href}}">{{item.title}}</a>
    </li>
  </ul>
  <form class="form-horizontal" novalidate>
    <div class="input-append">
      <input class="input-xxlarge" name="feed" ng-model="feed.url" type="url" required>
      <button class="btn" ng-click="fetchFeed(feed)">Update</button>
      <button class="btn" ng-click="deleteFeed(feed)">Delete</button>
    </div>
  </form>
</div>
